:root {
    --background-radient: radial-gradient(circle, rgba(58,156,173,1) 0%, rgba(16,107,139,1) 100%);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;

    /* &:focus-visible {
        outline: 4px solid #f34343;
        outline-offset: 4px;
        border-radius: 2px;
    } */
}

h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

button, a {
    all: unset;
    display: flex;
    width: fit-content;
    cursor: pointer;
}

body {
    font-family: Play, sans-serif;
    margin: 0;
    display: flex;
    min-height: 100svh;
    background: var(--background-radient);
    overflow-x: hidden;
}
