:root {
    --background-radient: radial-gradient(circle, rgba(58,156,173,1) 0%, rgba(16,107,139,1) 100%);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

button, a {
    all: unset;
    display: flex;
    width: fit-content;
    cursor: pointer;
}

body {
    font-family: Play, sans-serif;
    margin: 0;
    display: flex;
    min-height: 100svh;
    background: var(--background-radient);
}
